<div id="<%= dom_id author %>">
  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Info:</strong>
    <%= author.info %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= author.contact %>
  </p>
</div>
